<!DOCTYPE html>
<html lang="{{locale}}">

<head>
    <meta charset="utf-8" />
    <title>{{#trs "Storekeeper System"}}{{this}}{{/trs}} |{{{trs 'login'}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="saincraft" name="author" />
    <!-- App favicon -->
    <link rel="icon" type="image/x-icon" href="{{cdn}}/icons/IconC@300x.png">
    <!-- App css -->
    <link href="{{cdn}}/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="{{cdn}}/css/app.min.css" rel="stylesheet" type="text/css" />
    <!--Notify for ajax-->
    <link rel="stylesheet" href="{{cdn}}/css/toastr.min.css">

</head>

<body data-layout="detached">
    {{{body}}}

    <script type="text/javascript">
        $(document).ready(function () {
            initSelect2(["#language-list"]);
        });
        function getLanguageList() {
            $.ajax({
                url: "/translate/language/auth/list",
                success: function (response) {
                    console.log(response);
                    $('#language-list').html(response);
                }
            });
        }
        getInLanguageList();
        function changeLanguage() {
            let code = $('#language-list').val();
            $.ajax({
                url: "/translate/language/change/" + code,
                success: (data) => {
                    if (data.status) {
                        location.reload();
                    }
                }
            });
        }
    </script>

    {{> includes_bottom}}
    {{> notify}}
    <!-- bundle -->

    <script src="{{cdn}}/js/app.min.js"></script>

    <!--Notify for ajax-->
    <script src="{{cdn}}/js/toastr.min.js"></script>
</body>

</html>