<!DOCTYPE html>
<html class="no-js" lang="en">
{{>landing/top}}

<body>
    <!--[if IE]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!--====== PRELOADER PART START ======-->
    <div class="preloader">
        <div class="loader">
            <div class="spinner">
                <div class="spinner-container">
                    <div class="spinner-rotator">
                        <div class="spinner-left">
                            <div class="spinner-circle"></div>
                        </div>
                        <div class="spinner-right">
                            <div class="spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== PRELOADER PART ENDS ======-->

    <!--====== HEADER PART START ======-->
    {{>landing/header}}
    <!--====== HEADER PART ENDS ======-->
    {{{body}}}

    <!--====== FOOTER PART START ======-->
    {{>landing/footer}}
    <!--====== FOOTER PART ENDS ======-->

    <!--====== BACK TOP TOP PART START ======-->
    <a href="#" class="back-to-top"> <i class="lni lni-chevron-up"> </i> </a>
    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== Javascript Files ======-->
    <script src="{{cdn}}/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{cdn}}/assets/js/wow.min.js"></script>
    <script src="{{cdn}}/assets/js/glightbox.min.js"></script>
    <script src="{{cdn}}/assets/js/count-up.min.js"></script>
    <script src="{{cdn}}/assets/js/particles.min.js"></script>
    <script src="{{cdn}}/assets/js/main.js"></script>
</body>

</html>