<form method="POST" class="d-block ajaxForm" action="/personels/edit/{{personel.id}}">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="name">
                name
            </label>
            <input type="text" class="form-control" value="{{personel.user.name}}" id="name" name="name" required>
            <small id="" class="form-text text-muted">
                provide fullname
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="email">
                email
            </label>
            <input type="email" class="form-control" value="{{personel.user.email}}" id="email" name="email" required>
            <small id="" class="form-text text-muted">
                provide email
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="password">
                password
            </label>
            <input type="password" class="form-control" value="" id="password" name="password">
            <small id="" class="form-text text-muted">
                provide password
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="phone">
                phone number
            </label>
            <input type="text" class="form-control" value="{{personel.user.phone}}" id="phone" name="phone" required>
            <small id="" class="form-text text-muted">
                provide personel phone number
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="gender">
                gender
            </label>
            <select name="gender" id="gender" class="form-control select2" data-toggle="select2">

                {{#ifEquals 'Male' personel.user.gender}}
                <option value="Male" selected>
                    male
                </option>
                <option value="Female">
                    female
                </option>
                {{else}}
                <option value="Male">
                    male
                </option>
                <option value="Female" selected>
                    female
                </option>
                {{/ifEquals}}
            </select>
            <small id="" class="form-text text-muted">
                provide personel gender
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="blood_group">
                blood group
            </label>
            <select name="blood_group" id="blood_group" class="form-control select2" data-toggle="select2">
                <option value="">
                    blood group
                </option>

                {{#ifEquals 'a+' personel.user.blood_group}}
                <option value="a+" selected>A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}
                {{#ifEquals 'a-' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-" selected>A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'b+' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+" selected>B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'b-' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-" selected>B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'ab+' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+" selected>AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'ab-' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-" selected>AB-</option>
                <option value="o+">O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'o+' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+" selected>O+</option>
                <option value="o-">O-</option>
                {{/ifEquals}}

                {{#ifEquals 'o-' personel.user.blood_group}}
                <option value="a+">A+</option>
                <option value="a-">A-</option>
                <option value="b+">B+</option>
                <option value="b-">B-</option>
                <option value="ab+">AB+</option>
                <option value="ab-">AB-</option>
                <option value="o+">O+</option>
                <option value="o-" selected>O-</option>
                {{/ifEquals}}
            </select>
            <small id="" class="form-text text-muted">
                provide personel blood group
            </small>
        </div>

        <div class="form-group col-md-12">
            <label for="phone">
                address
            </label>
            <textarea class="form-control" id="address" name="address" rows="5"
                required>{{personel.user.address}}</textarea>
            <small id="" class="form-text text-muted">
                provide personel address
            </small>
        </div>

        <div class="form-group mt-2 col-md-12">
            <button class="btn btn-block btn-primary" type="submit">
                update personel
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        initSelect2(['#schoolId', '#gender', '#blood_group']);
    });
    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllPersonels);
    });
</script>