<table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
	<thead>
		<tr style="background-color: #313a46; color: #ababab;">
			<th>name</th>
			<th>email</th>
			<th>phone</th>
			<th>customer</th>
			<th>title</th>
			<th>options</th>
		</tr>
	</thead>
	<tbody>
		{{#each personels}}
		<tr>
			<td>{{user.name}}</td>
			<td>{{user.email}}</td>
			<td>{{user.phone}}</td>
			<td>
				{{customer.name}}
			</td>
			<td>{{title}}</td>
			<td>
				<div class="dropdown text-center">
					<button type="button"
						class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop"
						data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
					<div class="dropdown-menu dropdown-menu-right">
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item"
							onclick="rightModal('/personels/edit/{{id}}', 'Update Personel');">edit</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item"
							onclick="confirmModal('/personels/delete/{{id}}', showAllPersonels )">
							delete
						</a>
					</div>
				</div>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>