<table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
    <thead>
        <tr style="background-color: #313a46; color: #ababab;">
            <th>name</th>
            <th>email</th>
            <th>businesses</th>
            <th>option</th>
        </tr>
    </thead>
    <tbody>
        {{#each clients}}
        <tr>
            <td>{{user.name}}
            </td>
            <td>{{user.email}}
                {{#each roles}}
                <br><small> <strong>role</strong>:{{role}}</small>
                {{/each}}
            </td>
            <td>
                {{#each businesses}}
                {{name}}
                <br><small> <strong>phone</strong>:{{phone}}</small>
                <br><small> <strong>address</strong>: {{address}}</small>
                <hr>
                {{/each}}
            </td>
            <td>
                <div class="dropdown text-center">
                    <button type="button"
                        class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop"
                        data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="largeModal('/clients/edit/{{id}}', 'update client')">
                            edit
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="confirmModal('clients/delete/{{id}}', showAllClients )">
                            delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{!--
<?php else: ?>
<?php include APPPATH.'views/backend/empty.php'; ?>
<?php endif; ?> --}}