<!-- start page title -->
<div class="row ">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title"> <i class="mdi mdi-view-dashboard title_icon"></i>
                    {{trs 'Dashboard'}}
                </h4>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end page title -->

<div class="row ">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat" id="customer" style="on">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Student"> <i
                                        class="mdi mdi-account-group title_icon"></i>
                                    {{trs 'Clients'}} <a href="#"
                                        onclick="loadPage('/clients', 'client_list', 'clients')"
                                        style="color: #6c757d; display: none;" id="customer_list"><i
                                            class="mdi mdi-export"></i></a>
                                </h5>
                                <h3 class="mt-3 mb-3">
                                    {{client_count}}
                                </h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-nowrap">
                                        {{trs 'total number of'}} {{trs 'Clients'}}
                                    </span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->


                    <div class="col-lg-6">
                        <div class="card widget-flat" id="teacher" style="on">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Teacher"> <i
                                        class="mdi mdi-account-group title_icon"></i>
                                    {{trs 'Business'}} <a href="#"
                                        onclick="loadPage('/businesses','businesses', 'Business')"
                                        style="color: #6c757d; display: none;" id="teacher_list"><i
                                            class="mdi mdi-export"></i></a>
                                </h5>
                                <h3 class="mt-3 mb-3">
                                    {{business_count}}
                                </h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-nowrap">
                                        {{trs 'total number of'}} {{trs 'Business'}}
                                    </span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div> <!-- end row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card widget-flat" id="parent">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Personels"> <i
                                        class="mdi mdi-account-group title_icon"></i>
                                    {{trs 'Stores'}}<a href="#"
                                        onclick="loadPage('/customers', 'parent_list', 'Personels')"
                                        style="color: #6c757d; display: none;" id="parent_list"><i
                                            class="mdi mdi-export"></i></a>
                                </h5>
                                <h3 class="mt-3 mb-3">
                                    {{store_count}}
                                </h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-nowrap">
                                        {{trs 'total number of'}} {{trs 'Stores'}}
                                    </span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-lg-6">
                        <div class="card widget-flat" id="parent">
                            <div class="card-body">
                                <div class="float-right">
                                    <i class="mdi mdi-account-multiple widget-icon"></i>
                                </div>
                                <h5 class="text-muted font-weight-normal mt-0" title="Number of Personels"> <i
                                        class="mdi mdi-account-group title_icon"></i>
                                    {{trs 'Customers'}}<a a href="#"
                                        onclick="loadPage('/customers', 'customer_list', 'Customers')"
                                        style="color: #6c757d; display: none;" id="parent_list"><i
                                            class="mdi mdi-export"></i></a>
                                </h5>
                                <h3 class="mt-3 mb-3">
                                    {{customer_count}}
                                </h3>
                                <p class="mb-0 text-muted">
                                    <span class="text-nowrap">
                                        {{trs 'total number of'}} {{trs 'Customers'}}
                                    </span>
                                </p>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->
                </div>
            </div> <!-- end col -->
            <div class="col-xl-4">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h4 class="header-title text-grey mb-2">
                            {{trs 'Employee'}} {{trs 'attendance'}} {{trs 'log'}}
                        </h4>
                        <div class="text-center">
                            <h3 class="font-weight-normal text-grey mb-2">
                                {{!--
                                <?php echo $this->crud_model->get_todays_attendance(); ?> --}}
                            </h3>
                            <p class="text-grey text-uppercase font-13 font-weight-bold">
                                {{!--
                                <?php echo $this->crud_model->get_todays_attendance(); ?>
                                <?php echo get_trs('employees_are_attending_today'); ?> --}}
                                {{trs 'employees'}} {{trs 'attending'}} {{trs 'today'}}
                            </p>
                            <a href="/attendance" class="btn btn-outline-grey btn-sm mb-1">
                                {{!--
                                <?php echo get_trs('go_to_attendance'); ?> --}}
                                {{trs 'go'}} {{trs 'to'}} {{trs 'attendance'}}
                                <i class="mdi mdi-arrow-right ml-1"></i>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">
                            {{trs 'recent activities'}}<a href="/event_calendar" style="color: #6c757d;"><i
                                    class="mdi mdi-export"></i></a>
                        </h4>
                        {{!--
                        <?php include 'event.php'; ?> --}}
                        {{> superadmin/event_calendar}}
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col-->
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">
                            {{!--
                            <?php echo get_trs('accounts_of'); ?> --}}
                            Businesses
                            <script>
                                $(document).ready(() => {
                                    $('#ddate').html(new Date().toLocaleDateString());

                                    $('#pdate').html(new Date().toLocaleDateString());
                                })

                            </script><span id="ddate"></span> <a href="/invoices" style="color: #6c757d"><i
                                    class="mdi mdi-export"></i></a>
                        </h4>
                        {{!--
                        <?php include 'invoice.php'; ?> --}}
                        {{> superadmin/businesses}}
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">
                            {{!--
                            <?php echo get_trs('expense_of'); ?> --}}
                            Outstanding bills of <span id="pdate"></span> <a href="/businesses"
                                style="color: #6c757d"><i class="mdi mdi-export"></i></a>
                        </h4>
                        {{!--
                        <?php include 'expense.php'; ?> --}}
                        {{> superadmin/business_bills}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        initDataTable("expense-datatable");
        initDataTable("basic-datatable");
    });

    $(".widget-flat").mouseenter(function () {
        var id = $(this).attr('id');
        $('#' + id + '_list').show();
    }).mouseleave(function () {
        var id = $(this).attr('id');
        $('#' + id + '_list').hide();
    });
</script>