<table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
    <thead>
        <tr style="background-color: #313a46; color: #ababab;">
            <th>vehicle name</th>
            <th>vehicle registration></th>
            <th>vehicle capacity</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>{{#each vehicles}}
        <tr>
            <td>
                {{name}}
            <td>{{registration}}
            </td>
            <td>
                {{capacity}}
            </td>

            <td>
                <div class="dropdown text-center">
                    <button type="button"
                        class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop"
                        data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="rightModal('/vehicles/edit/{{id}}', 'update vehicle')">
                            edit
                        </a>
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                            onclick="confirmModal('/vehicles/delete/{{id}}', showAllvehicles )">
                            delete
                        </a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>