<form method="POST" class="d-block ajaxForm" action="/admin/create">
    <div class="form-row">
        <div class="form-group col-md-12 row">
            <div class="form-group col-md-6">
                <label for="name">
                    {{trs 'name'}}
                </label>
                <input type="text" class="form-control" id="name" name="name" required>
                <small id="" class="form-text text-muted">
                    {{trs 'provide'}} {{trs 'fullname'}}
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="email">
                    {{trs 'email'}}
                </label>
                <input type="email" class="form-control" id="email" name="email" required>
                <small id="" class="form-text text-muted">
                    {{trs 'provide'}} {{trs 'email'}}
                </small>
            </div>
        </div>
        <div class="form-group col-md-12 row">
            <div class="form-group col-md-6">
                <label for="phone">
                    {{trs 'phone'}} {{trs 'number'}}
                    {{!-- <a href="#" onclick="addPhone()" class="btn btn-sm btn-light"><i class="mdi mdi-plus"></i></a>
                    --}}
                </label>
                <div id="phoneTray">

                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="password">
                    {{trs 'password'}}
                </label>
                <input type="password" class="form-control" id="password" name="password" required>
                <small id="" class="form-text text-muted">

                    {{trs 'provide'}} {{trs 'password'}}
                </small>
            </div>
        </div>
        <div class="form-group col-md-12 row">
            <div class="form-group col-md-6">
                <label for="gender" >
                    {{trs 'gender'}}
                </label>
                <select name="gender" id="gender" class="form-control select2" data-toggle="select2">
                    <option value="" disabled selected>
                        {{trs 'select'}} {{trs 'gender'}}
                    </option>
                    <option value="Male">
                        {{trs 'male'}}
                    </option>
                    <option value="Female">
                        {{trs 'female'}}
                    </option>
                </select>
                <small id="" class="form-text text-muted">

                    {{trs 'provide'}} {{trs 'gender'}}
                </small>
            </div>
            <div class="form-group col-md-6">
                <label for="address">
                    {{trs 'address'}} <a href="#" onclick="addAddress()" class="btn btn-sm btn-light"><i
                            class="mdi mdi-plus"></i></a>
                </label>
                <div id="addressTray">

                </div>
            </div>
        </div>

        <div class="form-group mt-2 col-md-12">
            <button class="btn btn-block btn-primary" type="submit">
                {{trs 'create'}} {{trs 'admin'}}
            </button>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        initSelect2(['#businessId', '#gender', '#blood_group']);
        addAddress();
        addPhone();
    });

    $(".ajaxForm").validate({}); // Jquery form validation initialization
    $(".ajaxForm").submit(function (e) {
        var form = $(this);
        ajaxSubmit(e, form, 'POST', showAllAdmins);
    });
</script>