<!--title-->
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">
          <i class="mdi mdi-account-child-circle text-primary title_icon"></i> {{trs 'all admins'}}
          <button type="button" class="btn btn-outline-primary btn-rounded alignToTitle"
            onclick="largeModal('/admin/create', ' {{trs "create"}} {{trs "admin" }}')"> <i
              class="mdi mdi-plus"></i>
            {{trs 'create'}} {{trs 'admin'}}
          </button>
        </h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body admin_content">
      </div>
    </div>
  </div>
</div>

<script>
  var addAddress = () => {
    $('#addressTray').append(`<textarea class="form-control" id="address[]" name="address[]" rows="5" required></textarea>
                <small id="" class="form-text text-muted">
                   {{trs 'provide'}} {{trs 'address'}}
                </small>`)
  }
  var addPhone = () => {
    $('#phoneTray').append(`
                <input type="text" class="form-control" id="phone[]" name="phone[]" required>
                <small id="" class="form-text text-muted">
                    {{trs 'provide'}} {{trs 'phone'}} {{trs 'number'}}
                </small>`);
  }
  $(document).ready(() => {
    showAllAdmins();
  });

  var showAllAdmins = function () {
    var url = '/admin/list';

    $.ajax({
      type: 'GET',
      url: url,
      success: function (response) {
        console.log('response', response)
        $('.admin_content').html(response);
        initDataTable('basic-datatable');
      }
    });
  }
</script>